
*.pdf
*.docx
*.csv
*.json
*.zip
*.html
homework/.DS_Store
*.mp3
*.iml
*.xml
*.pyc
*.xml
*.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/email_homework_back.iml
.DS_Store
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/email_homework_back.iml
*.jpeg
homework/Icon
